:root {
  --text-color: #e1e4e8;
  --logo: #d7f400;
  --Nav: #1a1c1d;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
  text-align: right;
  color: var(--text-color);
}

@media (max-width: 640px) {
  section {
    scrollbar-width: none;
  }
}
