.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #111213 inset;
  transition: background-color 5000s ease-in-out 0s; /* This value is very important as it removes the white background after selecting autocomplete option */
}
.select-container {
  position: relative;
}

.select-container::after {

  content: ""; 
  position: absolute;
  top: calc(50% - 5px); 
  right: 20px; 
  top:47%;

  border-left: 10px solid transparent; 
  border-right: 10px solid transparent;
  border-top: 10px solid yellow; 
  pointer-events: none;


}

.select-element {
  -webkit-appearance: none; /* Chrome/Safari */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Remove default arrow in other browsers */

  background-color: transparent;

}
